<template>
  <v-list :key="GET_RIGHT_MENU.list[0].image">
    <template v-for="i in GET_RIGHT_MENU.list">
      <v-subheader
        :key="i.header"
        v-text="i.header"
        class="text-center d-block text-h6"
      ></v-subheader>
      <v-img
        height="20%"
        width="100%"
        :src="i.image"
      />
      <v-virtual-scroll
        :items="i.list"
        :item-height="50"
        height="710"
        :class="{
          'cursor-all-scroll': i.list.length > 15
        }"
      >
        <template v-slot:default="{ item }">
          <v-list-item
          :key="item.title"
        >
          <v-list-item-avatar v-if="item.avatar && (item.avatar.slice(0, 4) === 'http' || item.avatar.slice(0, 3) === 'mdi')">
            <v-img
              v-if="item.avatar.slice(0, 4) === 'http'"
              :src="item.avatar"
            />
            <v-icon v-else-if="item.avatar.slice(0, 3) === 'mdi'" v-text="item.avatar"></v-icon>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title class="text-caption font-weight-light" v-text="$t(item.title)"></v-list-item-title>
            <v-list-item-subtitle class="text-caption font-weight-medium" v-text="item.subtitle" />
          </v-list-item-content>
        </v-list-item>
        <v-divider v-if="item.divider" class="mx-4" :inset="item.inset"></v-divider>
        </template>
      </v-virtual-scroll>
    </template>
  </v-list>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    bench_length: 0
  }),
  methods: {},
  computed: {
    ...mapGetters(['GET_RIGHT_MENU'])
  },
  mounted () {
  }
}
</script>

<style scoped>

</style>
