<template>
  <div
    class="primary"
    :class="{
      'pl-1 ml-1 py-1 hide-rMenu-button': !upHere && !GET_RIGHT_MENU.rightDrawer,
      'ma-0 pa-1 rounded-l-xl': upHere || GET_RIGHT_MENU.rightDrawer,
      'opened-rMenu-button': GET_RIGHT_MENU.rightDrawer
    }"
    @mouseover="upHere = true" @mouseleave="upHere = false"
    @click.stop="getMutateRightMenu({ navTemporary: false })"
  >
      <v-icon class="white--text">mdi-cog-outline mdi-spin</v-icon>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  data () {
    return {
      upHere : false
    }
  },
  computed: {
    ...mapGetters(['GET_RIGHT_MENU']),
  },
  methods: {
    ...mapActions(['getMutateRightMenu']),
  },
}
</script>

<style scoped>

</style>
