<template>
  <div>
    <v-navigation-drawer
        v-model="rightDrawer"
        :temporary="GET_RIGHT_MENU.navTemporary"
        app fixed right
        width="300px"
      >
        <component :is="rightMenuList"/>
      </v-navigation-drawer>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
  data() {
    return {}
  },

  methods: {
    ...mapActions(['getMutateRightMenu']),
  },
  computed: {
    rightDrawer: {
      get: function (value) {
        value = this.GET_RIGHT_MENU?.rightDrawer
        return value
      },
      set: function (value) {
        this.getMutateRightMenu({rightDrawer: value, navTemporary: this.GET_RIGHT_MENU.navTemporary,
          // list: [
          //   {
          //     header: 'Карточка клиента',
          //     image: 'https://fighttime.ru/media/k2/items/cache/0fb7d619f21d83b9dfbfbd3457747e77_XL.jpg',
          //     list: [
          //       {
          //         avatar: 'mdi-account-outline',
          //         title: 'ФИО',
          //         subtitle: 'Назаров Асадбек Кудратович',
          //         divider: true, inset: false,
          //       },
          //     ]
          //   },
          // ]
        })
        return value
      }
    },
    rightMenuList() {
      let isIt = 'settings'
      if (this.GET_RIGHT_MENU?.list?.length > 0) {
        isIt = 'menu-list'
      }
      return isIt
    },
    ...mapGetters(['GET_RIGHT_MENU']),
  },
  mounted() {},
  components: {
    MenuList: () => import('@/components/app/layouts/navigation-drawers/right-drawer/menu-list'),
    Settings: () => import('@/components/app/layouts/navigation-drawers/right-drawer/settings')
  },
}
</script>

<style scoped>

</style>
