<template>
  <v-list>
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title>THEME CUSTOMIZER</v-list-item-title>
        <v-list-item-subtitle>Customize & Preview in Real Time</v-list-item-subtitle>
      </v-list-item-content>
      <v-list-item-action class="cursor-pointer" @click.stop="getMutateRightMenu({ navTemporary: false })">
        <v-icon>mdi-close</v-icon>
      </v-list-item-action>
    </v-list-item>
    <v-divider></v-divider>
    <v-list-item>
      <v-list-item-action style="align-items: flex-start;">
        <span>Navbar Type</span>
        <v-radio-group :column="false" v-model="radioGroup">
          <v-radio
            v-for="n in ['Floating', 'Sticky']"
            :key="n"
            :label="n"
            :value="n"
            class="mx-1"
            on-icon="mdi-checkbox-blank-circle"
          ></v-radio>
        </v-radio-group>
      </v-list-item-action>
    </v-list-item>
    <v-list-item>
      <v-row class="mx-1" align="center" justify="space-between">
        <span>Menu collapsed</span>
        <v-switch inset @change="setChangeLeftMenu('miniVariant')"/>
      </v-row>
    </v-list-item>
    <v-list-item>
      <v-list-item-action style="align-items: flex-start;">
        <v-btn color="primary" dark @click="setMessages({ title: 'Для отображение действий кнопок', options: {
            position: 'bottom-center',
            closeButton: 'track',
            icon: false,
            toastClassName: 'my-custom-toast-class',
           }})">Mini toastification example
        </v-btn>
      </v-list-item-action>
    </v-list-item>
  </v-list>
</template>

<script>
import {mapMutations, mapGetters, mapActions} from 'vuex'

export default {
  data: () => ({
    radioGroup: 'Floating',
  }),
  methods: {
    ...mapMutations(['setMessages', 'setChangeLeftMenu']),
    ...mapActions(['getMutateRightMenu']),
  },
  computed: {
    ...mapGetters(['GET_LEFT_MENU']),
  },
  watch: {
    radioGroup: function (val) {
      this.setChangeLeftMenu('clipped')
      console.log('val', val)
    }
  },
  components: {
    miniToastification: () => import('@/components/app/layouts/toast/miniVariant'),
  }
}
</script>

<style scoped>

</style>
