<template>
  <div v-on:mouseover="mouseover" v-on:mouseleave="mouseleave">
    <v-navigation-drawer
      v-model="GET_LEFT_MENU.drawer"
      :mini-variant="GET_LEFT_MENU.miniVariant" :expand-on-hover="GET_LEFT_MENU.miniVariant"
      :clipped="GET_LEFT_MENU.clipped"
      width="260"
      mini-variant-width="80"
      fixed app style="z-index: 10"
    >
      <v-row no-gutters justify="center" align="center" v-show="!GET_LEFT_MENU.clipped">
        <img :src="GET_LEFT_MENU.miniVariant ? 'logo_mini.png' : 'logo.svg'" height="50" alt="logo">
      </v-row>
      <v-list flat>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact link exact-active-class="active-link primary white--text"
          class="list-item-link rounded-lg"
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title"/>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  data: () => ({
    items: [
      {
        icon: 'mdi-apps',
        title: 'Welcome',
        to: '/dashboard'
      },
      {
        icon: 'mdi-chart-bubble',
        title: 'Inspire',
        to: '/inspire'
      }
    ],
  }),
  methods: {
    mouseover: function () {},
    mouseleave: function () {}
  },
  computed: {
    ...mapGetters(['GET_LEFT_MENU']),
  },
  mounted() {
  },
}
</script>
