<template>
  <v-menu offset-y nudge-bottom="20" nudge-left="50" >
    <template #activator="{ on, attrs }">
      <div v-bind="attrs" v-on="on" style="display:flex; align-items: center;">
        <v-img :src="`/${current_lang.code}.png`" alt="flag-icon" max-width="25" class="mr-1"></v-img>
        <span>{{ current_lang.name }}</span>
      </div>
    </template>
    <v-list width="150">
      <v-list-item
        v-if="locale.code !== current_locale"
        v-for="locale in app_language_list"
        :key="locale.iso"
        @click="changeLanguage(locale.code)"
        link
      >
        <v-img :src="`/${locale.code}.png`" alt="flag-icon" max-width="25" class="mr-2"></v-img>
        {{ locale.name }}
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
import {app_language_list} from '~/config/main.json'

export default {
  data: () => ({
    current_locale: '',
    app_language_list
  }),
  methods: {
    async changeLanguage(locale) {
      await this.$i18n.setLocale(locale)
      this.current_locale = this.$i18n.locale
    },
  },
  computed: {
    current_lang: {
      get: function () {
        let obj = app_language_list?.find(l => l?.code === this.current_locale)
        // console.log(obj)
        return {
          name: obj?.name,
          code: obj?.code
        }
      },
    },
  },
  mounted() {
    this.current_locale = this.$i18n.locale
  },
}
</script>

<style scoped>

</style>
