<template>
  <div
    style="position: fixed; height: 200px; width: 100%; z-index: 1;"
    :style="$vuetify.theme.dark
      ? 'background: linear-gradient(180deg,rgba(22,29,49,0.97) 44%,rgba(22,29,49,0.58) 73%,rgba(0,0,0,0))'
      : 'background: linear-gradient(180deg,hsla(0,0%,97.3%,.95) 44%,hsla(0,0%,97.3%,.00) 10%,hsla(0,0%,100%,0));'"
  ></div>
</template>

<script>
export default {

}
</script>

<style scoped>

</style>
