<template></template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters(['GET_MESSAGES'])
  },
  watch: {
    GET_MESSAGES: function (val) {
      this.$toast(val.title, val.options)
    },
  }
}
</script>

<style>
.my-custom-toast-class {
  background: #585858;
  color: white;
  text-align: center;
  padding: 3px 10px;
  margin: 5px;
  min-height: 10px;
}
</style>
