@import "assets/styles/inc/_theme.scss";

.dev-content-block {
  padding: 0 !important;
  margin: 0 !important;
}
//::-webkit-scrollbar {
//  display: none;
//}

.cursor-all-scroll {
  cursor: row-resize;
  :active {
    cursor: text;
  }
}
.cursor-pointer {
  cursor: pointer;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.nuxt-link-active {
  font-weight: bold;
}
.nuxt-link-exact-active {
  color: #00c58e;
}

w-100 {
  width: 100% !important;
}

w-90 {
  width: 90% !important;
}

w-75 {
  width: 75% !important;
}

w-50 {
  width: 50% !important;
}

w-25 {
  width: 25% !important;
}

.active-link {
  box-shadow: 0px 7px 8px -4px rgb(0 0 0 / 20%), 0px 12px 17px 2px rgb(0 0 0 / 14%), 0px 5px 22px 4px rgb(0 0 0 / 12%);
}

.list-item-link {
  width: 90%;
  margin: 0 auto;
}
