.open-rMenu-button {
  position: fixed;
  right: 0;
  top: 50%;
  border-radius: 25% 0% 0% 25%;
  z-index: 10;
}
.hide-rMenu-button {
  width: 0px;
  z-index: 10;
}

.opened-rMenu-button {
  position: fixed;
  right: 300px;
  top: 50%;
}
