<template>
  <v-app :dark="$vuetify.theme.dark">
<!--    <left_nav_drawers/>-->
    <v-app-bar
      :clipped-left="GET_LEFT_MENU.clipped"
      :class="{ 'mx-4 mt-4': !GET_LEFT_MENU.clipped, 'mx-9 mt-4': GET_LEFT_MENU.miniVariant && !GET_LEFT_MENU.clipped, 'ma-0 pa-0': GET_LEFT_MENU.clipped }"
      height="60" elevation="0" :hide-on-scroll="false" elevate-on-scroll
      fixed app
    >
      <v-toolbar-title v-text="$t('greeting')"/>
      <v-spacer/>
      <app-change-language />
      <v-btn icon text @click.stop="changeTheme = !changeTheme">
        <v-icon>{{ $vuetify.theme.dark ? 'mdi-weather-sunny' : 'mdi-weather-night' }}</v-icon>
      </v-btn>
    </v-app-bar>
    <v-content
      :class="{ 'mx-4 mt-4': !GET_LEFT_MENU.clipped, 'mx-9 mt-4': GET_LEFT_MENU.miniVariant && !GET_LEFT_MENU.clipped, 'ma-0 pa-0': GET_LEFT_MENU.clipped }">
      <v-container fluid style="display:flex; justify-content: center">
        <v-toolbar
          style="position: fixed; z-index: 2; width: 90%; margin: 0 auto"
          elevation="0"
        >
          <v-toolbar-title>How can i make this toolbar sticky?</v-toolbar-title>
        </v-toolbar>
      </v-container>
    </v-content>

    <mini-toastification/>
    <shadow-background/>
    <v-main>
      <div
        :class="{
        'mx-7': !GET_LEFT_MENU.clipped,
        'mx-12': GET_LEFT_MENU.miniVariant && !GET_LEFT_MENU.clipped,
        'ma-0 pa-0 mx-12': GET_LEFT_MENU.clipped && GET_LEFT_MENU.miniVariant,
        'ma-0 pa-0 mx-7': GET_LEFT_MENU.clipped && !GET_LEFT_MENU.miniVariant
      }"
      >
        <Nuxt/>
      </div>
    </v-main>
    <right_nav_drawers/>
    <app-footer/>
  </v-app>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  data: () => ({}),
  computed: {
    ...mapGetters(['GET_LEFT_MENU']),
    changeTheme: {
      get: function (value) {
        value = this.$vuetify.theme.dark
        return value
      },
      set: function (value) {
        this.$vuetify.theme.dark = value
        return value
      }
    },
  },
  methods: {},
  components: {
    ShadowBackground: () => import('@/components/app/layouts/navigation-drawers/shadow-background'),
    miniToastification: () => import('@/components/app/layouts/toast/miniVariant'),
    left_nav_drawers: () => import('@/components/app/layouts/navigation-drawers/aside/left'),
    right_nav_drawers: () => import('@/components/app/layouts/navigation-drawers/right-drawer/right'),
    appFooter: () => import('@/components/app/layouts/footer/index'),
    appChangeLanguage: () => import('@/components/app/layouts/navigation-drawers/change-language'),
  }
}
</script>
