//@font-face {
//  font-family: 'SFUI_REGULAR';
//  src: url('~static/fonts/sf/SFUIDisplay-Regular.eot');
//  src: local('SF UI Display Regular'), local('SFUIDisplay-Regular'),
//  url('~static/fonts/sf/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
//  url('~static/fonts/sf/SFUIDisplay-Regular.woff') format('woff'),
//  url('~static/fonts/sf/SFUIDisplay-Regular.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'SFUI_LIGHT';
//  src: url('~static/fonts/sf/SFUIDisplay-Light.eot');
//  src: local('SF UI Display Light'), local('SFUIDisplay-Light'),
//  url('~static/fonts/sf/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
//  url('~static/fonts/sf/SFUIDisplay-Light.woff') format('woff'),
//  url('~static/fonts/sf/SFUIDisplay-Light.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'SFUI_MEDIUM';
//  src: url('~static/fonts/sf/SFUIDisplay-Medium.eot');
//  src: local('SF UI Display Medium'), local('SFUIDisplay-Medium'),
//  url('~static/fonts/sf/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
//  url('~static/fonts/sf/SFUIDisplay-Medium.woff') format('woff'),
//  url('~static/fonts/sf/SFUIDisplay-Medium.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'SFUI_BOLD';
//  src: url('~static/fonts/sf/SFUIDisplay-Semibold.eot');
//  src: local('SF UI Display Semibold'), local('SFUIDisplay-Semibold'),
//  url('~static/fonts/sf/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
//  url('~static/fonts/sf/SFUIDisplay-Semibold.woff') format('woff'),
//  url('~static/fonts/sf/SFUIDisplay-Semibold.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: $font_sf_bold;
//  src: url('~static/fonts/sf/SFUIDisplay-Bold.eot');
//  src: local('SF UI Display Bold'), local('SFUIDisplay-Bold'),
//  url('~static/fonts/sf/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
//  url('~static/fonts/sf/SFUIDisplay-Bold.woff') format('woff'),
//  url('~static/fonts/sf/SFUIDisplay-Bold.ttf') format('truetype');
//  font-weight: normal;
//  font-style: normal;
//}
