<template>
  <v-layout id="content-layout" ref="contentLayout">
    <div class="open-rMenu-button basic cursor-pointer">
      <open-right-menu-button />
    </div>
    <v-flex xs24>
      <nuxt-child/>
    </v-flex>

  </v-layout>
</template>

<script>
export default {
  data: () => ({}),
  components: {
    openRightMenuButton: () => import('@/components/app/layouts/navigation-drawers/right-drawer/open-button')
  }
}
</script>
