<template>
  <v-row justify="center" align="center">
    <v-col sm="12" md="12" lg="12" class="dev-content-block">
      <v-card class="logo d-flex justify-center" height="1500px">
        <NuxtLogo/>
        <VuetifyLogo/>
        <v-card-actions>
          <v-spacer/>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'home',
  data: () => ({}),
  methods: {},
  computed: {},
  mounted() {
  }
}
</script>
