<template>
  <v-container>
    <v-footer
      absolute app inset
      color="transparent"
    >
      <span>
        COPYRIGHT © {{ new Date().getFullYear() }} TUNE Consulting, All rights Reserved
      </span>
      <v-spacer />
      <span>Hand-crafted & Made with <v-icon class="red--text">mdi-heart-outline</v-icon> </span>
    </v-footer>
  </v-container>
</template>

<script>
export default {

}
</script>

<style scoped>

</style>
